$font: 'Inconsolata', Courier, monospace;

//Colors

$colorBg: #222a30;
//$background: #2B2D42;
$white: #EDF2F4;
$grey: #8D99AE;
$green: #2a9d8f;


/////////////
// HEADER ///
/////////////

body{
    background-color: $colorBg !important;
    overflow-x: hidden;
}


.logo{
    color: $white;
    font-weight: 700;
    letter-spacing: 1.5px;
    @media (max-width: 1440px) {
        padding: 0.5rem 20px !important;
    }
    //padding: 0.5rem 20px !important;
}

.navigation{
    margin: 0 20px;
    text-decoration: none;
    color: $white;
    letter-spacing: 1.75px;
    font-size: 1rem;
    &:last-child{
        margin-right: 0px;
    }
    
}



.navigation:hover{
    color: #2a9d8f;
    transition: 0.3s;
    opacity: 2;
}

.btn{
    margin: 0 20px;
    text-decoration: none;
    border: 2px solid $green;
    padding: 10px 25px;
    border-radius: 50px;
    color: $white;
}

.btn:hover{
    background-color: rgba(42, 157, 143, 0.3);
    transition: 0.3s;
}

#me{
    display: flex;
    justify-content: left;
    color: $white;
    font-size: 3rem;
    padding-bottom: 20px;
    @media (max-width: 1440px) {
        font-size: 3rem;
    }
    @media (max-width: 768px) {
        padding-top: 10px;
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
}

#me2{
    color: $green;
}

#presentation{
    color: $white;
    font-size: 1.3rem;
    @media (max-width: 1440px) {
        padding-top: 10px;
        font-size: 1.1rem;
        padding-bottom: 20px;
    }

    @media (max-width: 768px) {
        padding-top: 10px;
        font-size: 0.9rem;
        padding-bottom: 20px;
    }
}

#mouseAnimate{
    justify-content: center;
    width: 1200px;
    padding-top: 300px;
    @media (max-width: 1440px) {
        width: 800px;
        padding-top: 100px;
    }
}

#scroll{
    display: flex;
    justify-content: center;
}

.mouse{
    left: 48%;
    @media (max-width: 1440px) {
        left: 47%;
    }
}

@media (max-width: 768px) {
    #mouseAnimate{
        display: none;
    }
    
    #scroll{
        display: none;
    }
    
    .mouse{
        display: none;
    }
}

////////////////
// FIN HEADER //
////////////////