$font: 'Inconsolata', Courier, monospace;

//Colors

$colorBg: #222a30;
//$background: #2B2D42;
$white: #EDF2F4;
$grey: #8D99AE;
$green: #2a9d8f;


/////////////
// HEADER ///
/////////////

body{
    background-color: $colorBg !important;
    overflow-x: hidden;
}


.logo{
    color: $white;
    font-weight: 700;
    letter-spacing: 1.5px;
    @media (max-width: 1440px) {
        padding: 0.5rem 20px !important;
    }
    //padding: 0.5rem 20px !important;
}

.navigation{
    margin: 0 20px;
    text-decoration: none;
    color: $white;
    letter-spacing: 1.75px;
    font-size: 1rem;
    &:last-child{
        margin-right: 0px;
    }
    
}



.navigation:hover{
    color: #2a9d8f;
    transition: 0.3s;
    opacity: 2;
}

.btn{
    margin: 0 20px;
    text-decoration: none;
    border: 2px solid $green;
    padding: 10px 25px;
    border-radius: 50px;
    color: $white;
}

.btn:hover{
    background-color: rgba(42, 157, 143, 0.3);
    transition: 0.3s;
}

////////////////
// FIN HEADER //
////////////////

////////////////
//  HomePage  //
////////////////

#me{
    display: flex;
    justify-content: left;
    color: $white;
    font-size: 3rem;
    padding-bottom: 20px;
    @media (max-width: 1440px) {
        font-size: 3rem;
    }
    @media (max-width: 768px) {
        padding-top: 10px;
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
}

#me2{
    color: $green;
}

#presentation{
    color: $white;
    font-size: 1.3rem;
    @media (max-width: 1440px) {
        padding-top: 10px;
        font-size: 1.1rem;
        padding-bottom: 20px;
    }

    @media (max-width: 768px) {
        padding-top: 10px;
        font-size: 0.9rem;
        padding-bottom: 20px;
    }
}

#mouseAnimate{
    justify-content: center;
    width: 1200px;
    padding-top: 300px;
    @media (max-width: 1440px) {
        width: 800px;
        padding-top: 100px;
    }
}

#scroll{
    display: flex;
    justify-content: center;
}

.mouse{
    left: 48%;
    @media (max-width: 1440px) {
        left: 47%;
    }
}

////////////////////
//  Fin HomePage  //
////////////////////


/////////////
//  ABOUT  //
/////////////

    .AboutPersonal{
        padding: 100px 0px;
    }

    .AboutPersonal__Heading{
        font-size: 60px;
        color: rgb(255, 255, 255);
        line-height: 50px;
        display: flex;
        justify-content: center;
        font-family: $font;
        @media (max-width: 1440px) {
            font-size: 50px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    .AboutPersonal__LeftCol{
        display: flex;
        -webkit-box-align: baseline;
        align-items: baseline;
        -webkit-box-pack: center;
        justify-content: center;
        @media (max-width:768px) {
            padding-bottom: 50px;
            margin-top: -150px;
        }
    }

    .AboutPersonal__RightCol{
        display: flex;
        //justify-content: center;
    }

    .mePhoto{
        max-width: 400px;
        height: 500px;
        border: none;
        @media (max-width: 1400px){
            max-width: 280px;
            height: 400px;
        }
        @media (max-width: 768px){
            max-width: 150px;
            height: 200px;
        }
    }

    .try{
        color: $white;
    }

    .aboutPersonalImg{
        border-radius: 20px;
        overflow: hidden;
        animation: 8s ease 5s infinite alternate none running iYRPyH;
    }

    .animated{
        opacity: 1;
        height: auto;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    .fadeIn{
        animation-name: fadeIn;
    }

    .tabs{
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: bold;
        background-color: transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-image: initial;
        margin: 0px 10px 0px 0px;
        border-bottom: 4px solid rgb(255, 255, 255);
        transition: all 0.5s ease 0s;

        @media (max-width: 1440px) {
            font-size: 20px;
            border-bottom: 3px solid rgb(255, 255, 255);
        }
    }

    .TabsPart{
        margin-top: 20px;
    }

    .TabPart{
        display: block;
    }

    .tabs:hover ,.tabs.tab-link-active{
        animation: 10s ease 0s infinite alternate none running jHqCtb;
    }

    .progress-container{
        margin-bottom: 25px;
    }

    .progress_text{
        font-size: 17px;
        font-family: Roboto Mono;
        color: $white;
    }

    .progress_value{
        font-size: 17px;
        font-family: Roboto Mono;
        color: $white;
        float: right;
    }

    .progress{
        height: 5px;
        border-radius: 2.5px;
        margin-top: 10px;
        transition: all 2s ease 0s;
        animation: 15s ease 0s infinite alternate none running hdEiBZ;
    }

    @keyframes iYRPyH{0%{box-shadow:0 28px 60px rgba(4,229,229,.5);}10%{box-shadow:0 28px 60px rgba(243,112,85,.5);}20%{box-shadow:0 28px 60px rgba(239,78,123,.5);}30%{box-shadow:0 28px 60px rgba(161,102,171,.5);}40%{box-shadow:0 28px 60px rgba(80,115,184,.5);}50%{box-shadow:0 28px 60px rgba(4,229,229,.5);}60%{box-shadow:0 28px 60px rgba(7,179,155,.5);}70%{box-shadow:0 28px 60px rgba(111,186,130,.5);}80%{box-shadow:0 28px 60px rgba(80,115,184,.5);}90%{box-shadow:0 28px 60px rgba(16,152,173,.5);}100%{box-shadow:0 28px 60px rgba(243,112,85,.5);}}
    @keyframes jHqCtb{0%{border-color:#04e5e5;}10%{border-color:#f37055;}20%{border-color:#ef4e7b;}30%{border-color:#a166ab;}40%{border-color:#5073b8;}50%{border-color:#04e5e5;}60%{border-color:#07b39b;}70%{border-color:#6fba82;}80%{border-color:#5073b8;}90%{border-color:#1098ad;}100%{border-color:#f37055;}}
    @keyframes hdEiBZ{0%{background:#04e5e5;}10%{background:#f37055;}20%{background:#ef4e7b;}30%{background:#a166ab;}40%{background:#5073b8;}50%{background:#04e5e5;}60%{background:#07b39b;}70%{background:#6fba82;}80%{background:#5073b8;}90%{background:#1098ad;}100%{background:#f37055;}}

    .TabsPart__TabSelectors{
        display: flex;
    }

    .TabsPart__TabSelector2{
        animation: 10s ease 0s infinite alternate none running jHqCtb;
    }

    .tab_content{
        width: 600px;
        @media (max-width: 1440px) {
            width: 500px;
        }
        @media (max-width: 768px) {
            width: 250px;
        }
    }


/////////////////
//  FIN ABOUT  //
/////////////////

@media (max-width: 768px) {
    #mouseAnimate{
        display: none;
    }
    
    #scroll{
        display: none;
    }
    
    .mouse{
        display: none;
    }
}

